*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}

body{
    line-height: 1.5;
    color: #333;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.945) 0%, rgb(200, 228, 242) 100%);
    position: relative;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    z-index: 1000;
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.nav_container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo a{
    color: #333;
}

.nav_logo:hover{
    transform: scale(1.1);
}

.nav_logo a:hover{
    color: #667eea;
}

.nav_menu{
    display: flex;
    gap: 2rem;
}

.nav_link{
    color: #333;
    text-decoration: solid;
    font-weight: bold;
    transition: color 0.3s ease;
    position: relative;
}

.nav_link:hover{
    color: #667eea;
    transform: scale(1.1);
}

.nav_link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #667eea;
    transition: width 0.3s ease;
}

.nav_link:hover::after{
    width: 100%;
}

.nav_toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar{
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.3s;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10% 5% 10%;
    color: white;
    position: relative;
}

.home_container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}

.home_title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.highlight{
    color: #673615;
}

.subtitle{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #486a8d;
}

.home_description{
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #333;
    line-height: 1.8;
}

.home_buttons{
    display: flex;
    gap: 1rem;
}

.home_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: flex-start;
}

.home_buttons a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 12px 20px;
    font-size: 0.7rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s ease;
    border: 2px solid;
    cursor: pointer;
}

.contact_btn {
    color: #333;
    background-color: #79b5bdb4;
}

.contact_btn:hover {
    background-color: #79efffdc;
}

.download_cv {
    color: #333;
}

.download_cv:hover {
    background-color: #ebf3b7b4;
}

.home_buttons a i {
    font-size: 1.1rem;
}


.home_image_placeholder{
    width: 400px;
    height: 550px;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    background: linear-gradient(135deg, #ffffff20, #ffffff08);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(12px);
    border: 3px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.home_image_placeholder:hover{
    transform: scale(1.02);
}

.home_image_placeholder img{
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    border: 2px solid white;
}

.about {
    padding: 5% 10% 5% 10%;
}

.about_container {
    display: flex;
    gap: 4rem;
    max-width: 100%;
    margin: 0 auto;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.about_box, .edu_box {
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 10px;
    transition: 0.3s ease;
}

.about_box:hover, .edu_box:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.about_left {
    flex: 2;
}

.section_title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #486a8d;
}

.about_intro {
    font-size: 1.1rem;
    line-height: 2;
    text-align: justify;
}

.about_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.edu_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
}

.edu_box h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #486a8d;
}

.edu_year {
    font-size: 0.95rem;
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 0.4rem;
}


